# .gitignore
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# virtual env
.venv/

# Data & secrets
data/
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# graphs, weights and results
src/INR/graphs/
src/INR/weights/
src/INR/results/

src/DDPM/graphs/
src/DDPM/weights/
src/DDPM/results/

src/NDM/graphs/
src/NDM/weights/
src/NDM/results/