# .gitignore
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# virtual env
.venv/

# Data & secrets
data/
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# graphs, weights and results
src/implicit_neural_representation/graphs/ 
src/implicit_neural_representation/weights/ 
src/implicit_neural_representation/results/

src/denoising_diffusion/graphs 
src/denoising_diffusion/weights/ 
src/denoising_diffusion/results/

src/neural_latent_diffusion/graphs/
src/neural_latent_diffusion/weights/
src/neural_latent_diffusion/results/

src/inr_mlp_hypernetwork/graphs/
src/inr_mlp_hypernetwork/weights/
src/inr_mlp_hypernetwork/results/

src/inr_ddpm_hypernetwork/graphs/
src/inr_ddpm_hypernetwork/weights/
src/inr_ddpm_hypernetwork/results/

src/results/
src/outputs/